.container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.searchInput {
  width: 240px;
  padding: 0 12px;
}

@media screen and (max-width: 720px) {
  .searchInput {
    width: 100%;
  }
}
